{% extends 'base.html' %}
{% load static %}
{% block title %}NUTRICIONISTA EMILIA FERREYRA{% endblock %}
{% block content %}
     <!-- HOME -->
     <section id="home">
          <div class="row">

                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Distance Learning Education Center</h1>
                                             <h3>Our online courses are designed to fit in your industry supporting all-round with latest technologies.</h3>
                                             <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-second">
                              <div class="caption">
                                  <div class="container">
                                      <div class="col-md-6 col-sm-12">
                                          <h1>Start your journey with our practical courses</h1>
                                          <h3>Our online courses are built in partnership with technology leaders and are designed to meet industry demands.</h3>
                                          <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                         
                         <div class="item item-third">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Efficient Learning Methods</h1>
                                             <h3>Nam eget sapien vel nibh euismod vulputate in vel nibh. Quisque eu ex eu urna venenatis sollicitudin ut at libero. Visit <a rel="nofollow" href="https://www.facebook.com/templatemo">templatemo</a> page.</h3>
                                             <a href="#contact" class="section-btn btn btn-default smoothScroll">Let's chat</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          </div>
          

     </section>


     <!-- FEATURE -->
     <section id="feature">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="feature-thumb">
                             <h3 class="text-center">SOBRE MÍ</h3>
                             <div class="row align-items-center">
                              <!-- Imagen a la izquierda -->
                              <div class="col-md-6 text-center">
                                  <img src="{% static 'images/author-image1.jpg' %}" alt="Autor" class="img-fluid rounded" style="max-width: 100%;">
                              </div>
                              <!-- Texto a la derecha -->
                              <div class="col-md-6">
                                  <p>Aca emilia contara su historia.</p>
                              </div>
                          </div>
                         </div>
                     </div>
                     
                    

               </div>
          </div>
     </section>

     <!-- LUGAR DE TRABAJO -->
     <section id="courses">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Lugar de trabajo <small>Visitanos</small></h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-courses">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="{% static 'images/courses-image1.jpg' %}" class="img-responsive" alt="">
                                                  </div>
                                                  
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Lugar</a></h3>
                                                  <p>info del lugar.</p>
                                             </div>

                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="{% static 'images/courses-image2.jpg' %}" class="img-responsive" alt="">
                                                  </div>
                                                  
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Consultorio</a></h3>
                                                  <p>info del consultorio.</p>
                                             </div>

                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="{% static 'images/courses-image3.jpg' %}" class="img-responsive" alt="">
                                                  </div>
                                                  
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Productos dieteticos</a></h3>
                                                  <p>Info de productos.</p>
                                             </div>

                                             
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="{% static 'images/courses-image4.jpg' %}" class="img-responsive" alt="">
                                                  </div>
                                                  
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#"></a></h3>
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                             </div>

                                             
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="{% static 'images/courses-image5.jpg' %}" class="img-responsive" alt="">
                                                  </div>
                                                  
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">2da categoria productos</a></h3>
                                                  <p>info de estos productos</p>
                                             </div>

                                             
                                        </div>
                                   </div>
                              </div>

                         </div>

               </div>
          </div>
     </section>


     <!-- RESEÑAS -->
     <section id="testimonial">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Student Reviews <small>from around the world</small></h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-client">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="{% static '/images/tst-image1.jpg' %}" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>Jackson</h4>
                                             <span>Shopify Developer</span>
                                        </div>
                                        <p>You really do help young creative minds to get quality education and professional job search assistance. I’d recommend it to everyone!</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="{% static '/images/tst-image3.jpg' %}" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>Camila</h4>
                                             <span>Marketing Manager</span>
                                        </div>
                                        <p>Trying something new is exciting! Thanks for the amazing law course and the great teacher who was able to make it interesting.</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="{% static '/images/tst-image3.jpg' %}" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>Barbie</h4>
                                             <span>Art Director</span>
                                        </div>
                                        <p>Donec erat libero, blandit vitae arcu eu, lacinia placerat justo. Sed sollicitudin quis felis vitae hendrerit.</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="{% static '/images/tst-image4.jpg' %}" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>Andrio</h4>
                                             <span>Web Developer</span>
                                        </div>
                                        <p>Nam eget mi eu ante faucibus viverra nec sed magna. Vivamus viverra sapien ex, elementum varius ex sagittis vel.</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                         </div>

               </div>
          </div>
     </section> 


     <!-- CONTACT -->
     <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h2>Contactame<small>we love conversations. let us talk!</small></h2>
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">
                    
                                   <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required=""></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1496.4272913302175!2d-60.221394431223416!3d-26.867802319631032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9446c9887aa79e5f%3A0x1c6981c430463e24!2sDATILERA%20ALMAC%C3%89N%20SALUDABLE!5e0!3m2!1ses-419!2sar!4v1736258452024!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                         </div>
                    </div>

               </div>
          </div>
     </section>       


{% endblock %}     